.flex_con{
    width: 80%;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.con1{
    width: 550%;
}

.con1 img{
    width: 400px;
    height: auto;
}

.con2{
    width: 350%;
    text-align: center;
    text-wrap: wrap;
}
